@import url("https://fonts.googleapis.com/css?family=Manjari&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Manjari", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43c6ac); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  padding: 0 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.logo-wrap {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 800px) {
    height: 100px;
  }
  .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

footer {
  margin: 30px 0;
  text-align: center;
  a {
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ccc;
    padding: 0.5rem 1rem 0.4rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    transition: all .1s ease;
    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}
